{
	"variables": {},
	"builders" : [
		{
		 "vpc_id" : "vpc_3d137558",
                "subnet_id" : "subnet-8dfd50d4",
		"type": "amazon-ebs",
		"region": "us-east-1",
		"source_ami": "ami-2d39803a",
		"instance_type": "t2.micro",
		"ssh_username": "ubuntu",
		"ami_name": "MiddleTier-{{isotime | clean_ami_name}}",
		"ami_description" : "Amazon AMI designed by ardeshir",
			"tags": {
				"role": "MiddleTier"
			},
			"run_tags" : {
				"role": "buildSystem"
			}

		}
	] 

}			

